html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Questrial;
}

#root {
  height: 100%;
}

ul {
  list-style-type: none;
}

.App {
  height: 100%;
  background-color: white;
}

.login-page, .registration-page,
.landing-page, .dashboard {
  animation: opacity_effect 0.3s;
}
@keyframes opacity_effect {
  0% {
    opacity: 0;
  }
  100% {
   opacity: 1;
  }
}
.opacity-out {
  animation: opacity_out 0.3s;
}
@keyframes opacity_out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.choice-btn {
  display: inline-block;
  width: 25%;
  border-radius: 12px;
  padding: 5px;
  background-color: #41cd8c;
  border: 1px solid #41cd8c;
  color: whitesmoke;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  margin: 15px;
  font-size: 1rem;
}
.choice-btn:hover {
  outline: none;
  cursor: pointer;
  background-color:#7eddb1;
  border: 1px solid #7eddb1; 
}