.dashboard {
  text-align: center;
  background-color: white;
}

.totals-container {
  width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
}

.totals-container > div {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  width: 40%;
  text-align: left;
  padding: 0 35px;
}
.nutrition-totals-container, .exercise-totals-container {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}

h3 {
  text-align: center;
  font-size: 2.5rem;
  color: #2f2f2f;
}

ul {
  padding: 0;
}

li {
  padding: 5px;
  color: #2f2f2f;
}

.nutrition-page, .exercise-page {
  position: relative;
  display: inline-block;
  width: 335px;
  padding: 15px;
  margin-top: -15px;
}

.nutrition-page {
  margin-right: 100px;
}

textarea {
  margin: 15px 0 15px 0;
}

.log-out {
  float: right;
  padding: 15px 25px 0 0;
  text-decoration: none;
  cursor: pointer;
  z-index: 1;
  position: relative;
  font-weight: bold;
  color: whitesmoke;
  letter-spacing: 1px;
}


.log-out:hover, .log-out:focus, 
.landing-login:hover, .landing-login:focus,
.landing-signup:hover, .landing-signup:focus {
  outline: none;
  text-decoration: underline;
}

.nutrition_total, .exercise_total {
  position: relative;
  list-style-type: none;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border-radius: 40px;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 2px solid #41cd8c;
  color: #41cd8c;
  padding-left: 10px;
  padding-top: 4px;
  transition: 0.4s;
}
.delete-btn:hover {
  background-color: #41cd8c;
  color: white;
}

.exit {
  color: #41cd8c;
  position: absolute;
  top: 0;
  right: 0;
  left: 1px;
  font-size: .8rem;
  font-weight: bolder;
  transition: 0.4s;
}
.exit:hover {
  color: white;
}

.line {
  border-bottom: 2px solid #2f2f2f;
  margin: 35px 0 10px 0;
}

.shape {
  position: relative;
  height: 650px;
  background: linear-gradient(130deg, #66b9ea, #6d78e7);
  border-bottom-left-radius: 1000px 25px;
  border-bottom-right-radius: 1000px 25px;
}

.title-header {
  font-family: Lobster;
  font-size: 3rem;
  color:whitesmoke;
  position: relative;
}

.welcome-header {
  position: relative;
  font-size: 5rem;
  color: #2f2f2f;
}

label {
  color: whitesmoke;
  font-size: 1.2rem;
  letter-spacing: .45px;
}

.calculate-btn {
  border: none;
  background-color: #fe7749;
  color: whitesmoke;
  font-family: Questrial;
  font-size: 1rem;
  letter-spacing: 1px;
  width: 200px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.calculate-btn:hover, .calculate-btn:focus {
  outline: none;
  background-color: #ffb300;
  cursor: pointer;
}

textarea {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 150px;
  font-family: Questrial;
  font-size: 1rem;
}
textarea:focus {
  outline: none;
  border: 2px solid #41cd8c;
}
textarea::placeholder {
  font-size: 1rem;
  font-family: Questrial;
  letter-spacing: .5px;
}

.nutrition-form, .exercise-form {
  text-align: left;
}

.nutrition-header, .exercise-header {
  color: whitesmoke;
  letter-spacing: 1px;
  font-size: 3em;
  margin-left: 75px;
}

.food-image {
  width: 75px;
  position: absolute;
  top: 38px;
  left: 70px;
}
.exercise-image {
  width: 75px;
  position: absolute;
  top: 48px;
  left: 40px;
}

.date {
  text-align: left;
  font-size: 1.5rem;
  color: #2f2f2f;
}
.list-title {
  font-weight: bolder;
  color: #41cd8c;
}

.form-error {
  margin-top: -10px;
  color: black;
}

.tossing {
  width: 180px;
  padding-top: 50px;
	animation-name: tossing;
	-webkit-animation-name: tossing;	

	animation-duration: 2.5s;	
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-4deg);	
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);	
	}						
}

@-webkit-keyframes tossing {
	0% {
		-webkit-transform: rotate(-4deg);	
	}
	50% {
		-webkit-transform: rotate(4deg);
	}
	100% {
		-webkit-transform: rotate(-4deg);	
	}				
}

@media (max-width: 400px) {
  .totals-container > div {
    padding: 0;
  }

  .welcome-header {
    font-size: 4rem;
  }
  h3 {
    font-size: 2rem;
  }
  
  .nutrition-page, .exercise-page {
    width: 260px;
  }
 
  .food-image {
    left: 40px;
  }

  .exercise-image {
    left: 10px;
  }

  label {
    font-size: 1rem;
  }
}

@media (max-width: 739px) {
  .totals-container {
    display: none;
  }

  .date {
    font-size: 1.3rem;
  }
  .tab {
    background: whitesmoke;
  }

  .nutrition_total, .exercise_total {
    text-align: left;
    padding: 0 25px 0 25px;
  }
  .delete-btn {
    margin-right: 15px;
  }
}

@media (min-width: 740px) {
  .react-tabs {
    display: none;
  }
}

@media (max-width: 879px) {
  .shape {
    height: 1150px;
  }

  .nutrition-page, .exercise-page {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .totals-container > div {
    width: 300px;
  }
}