.dashboard {
  text-align: center;
}

.nutrition-totals-container, 
.exercise-totals-container {
  max-width: 335px;
  display: inline-block;
  text-align: left;
  padding: 0 35px;
}

h3 {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  padding: 5px;
}

.nutrition-page, .exercise-page {
  display: inline-block;
  width: 335px;
  padding: 15px;
}

textarea {
  margin: 15px 0 15px 0;
}

.log-out {
  float: right;
  padding: 15px 25px 0 0;
  text-decoration: none;
  cursor: pointer;
}

.nutrition_total, .exercise_total {
  position: relative;
}

.delete-btn {
  position: absolute;
  top: 0;
  right: 0;
  height: 15px;
  width: 5px;
  border-radius: 50%;
  border: 1.45px solid black;
  cursor: pointer;
}

.exit {
  position: absolute;
  top: -2px;
  right: 1px;
  bottom: 0;
  left: 1px;
  font-size: .8rem;
  font-weight: bolder;
}

.line {
  border-bottom: 2px solid black;
  margin: 35px 0 10px 0;
}