.landing-page {
  text-align: center;
  margin: 0;
}

.landing-page-header {
  font-family: Lobster;
  font-size: 6em;
  position: relative;
  color: whitesmoke;
  letter-spacing: 1px;
  @media (max-width: 660px) {
    font-size: 5.1em;
  }
}

.checkmark-icon {
  width: 15px;
  margin-right: 10px;
}

.landing-page-signup-btn {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15px;
  border: none;
  background-color: #fe7749;
  color: whitesmoke;
  font-family: Questrial;
  font-size: 1rem;
  letter-spacing: 1px;
  width: 200px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.landing-page-signup-btn:hover,
.landing-page-signup-btn:focus {
  background-color: #ffb300;
  cursor: pointer;
  outline: none;
}

.descriptor-header {
  position: relative;
  color: whitesmoke;
  font-size: 3rem;
  padding-top: 25px;
  @media (max-width: 387px) {
    font-size: 2rem;
  }
  @media (max-width: 582px) {
    padding-top: 0px;
  }
  @media (max-width: 606px) {
    font-size: 2.2em;
    padding-top: 0px;
  }
}

.landing-page-descriptor {
  position: relative;
  color: whitesmoke;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.landing-signup, .landing-login {
  position: absolute;
  color: whitesmoke;
  top: 0;
  right: 0;
  cursor: pointer;
  font-weight: bolder;
  text-decoration: none;
  padding-top: 15px;
}
.landing-login {
  margin-right: 105px;
}
.landing-signup {
  margin-right: 25px;
}
.landing-login:hover, .landing-login:focus,
.landing-signup:hover, .landing-signup:focus {
  outline: none;
  text-decoration: underline;
}

.shape-two {
  position: relative;
  margin: 0;
  padding: 0;
  height: 500px;
  background: linear-gradient(130deg, #41cd8c, #00b698);
  border-bottom-left-radius: 1000px 25px;
  border-bottom-right-radius: 1000px 25px;
}

.parent-container {
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.container-one, .container-two, .container-three {
  text-align: left;
  padding: 25px;
  border-radius: 15px;
  color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.container-one {
  background: linear-gradient(130deg, #ffa634, #ff435b);
  display: inline-block;
  width: 35%;
  min-width: 240px;
  margin: 50px 50px 50px 0;  
  @media (max-width: 724px) {
    margin-right: 0;
  }
}

.container-two {
  background: linear-gradient(130deg, #41cd8c, #00b698);
  display: inline-block;
  width: 35%;
  min-width: 240px;
}

.container-three {
  background: linear-gradient(130deg, #66b9ea, #6d78e7);
  width: 76%;
  min-width: 240px;
  margin-bottom: 50px;
}

.container-headers {
  color: whitesmoke;
  text-align: left;
  position: relative;
  z-index: 1;
}

.container-list-item {
  position: relative;
  z-index: 1;
  color: white;
}

.container-img {
  position: absolute;
  top: 30%;
  right: 10%;
  width: 110px;
}
.weightlift-img {
  position: absolute;
  top: 30%;
  right: 5%;
}
.benchpress-img {
  position: absolute;
  top: 30%;
  right: 20%;
  width: 110px;
}

.expandOpen{
	animation-name: expandOpen;
	-webkit-animation-name: expandOpen;	

	animation-duration: 1.2s;	
	-webkit-animation-duration: 1.2s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	visibility: visible !important;	
}
@keyframes expandOpen {
	0% {
		transform: scale(1.8);		
	}
	50% {
		transform: scale(0.95);
	}	
	80% {
		transform: scale(1.05);
	}
	90% {
		transform: scale(0.98);
	}	
	100% {
		transform: scale(1);
	}			
}
@-webkit-keyframes expandOpen {
	0% {
		-webkit-transform: scale(1.8);		
	}
	50% {
		-webkit-transform: scale(0.95);
	}	
	80% {
		-webkit-transform: scale(1.05);
	}
	90% {
		-webkit-transform: scale(0.98);
	}	
	100% {
		-webkit-transform: scale(1);
	}					
}

@media (max-width: 1450px) {
  .benchpress-img {
    right: 40%;
  }

  .container-one, .container-two, .container-three {
    width: 65%;
  }

  .container-one {
    margin-right: 0;
  }

  .container-two {
    margin-bottom: 50px;
  }
}

@media (max-width: 414px) {
  .landing-page {
    padding-bottom: 35px;
  }
}