form, .form-input {
  text-align: center;
}

.login-page, .registration-page, .loading-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, .login-btn, .registration-btn {
  margin-bottom: 15px;
}

input {
  border: none;
  background-color: #f4f3f0;
  border-bottom: 1px solid #00bb95;
  padding: 5px;
}
input:focus {
  outline: none;
  border-bottom: 2px solid #5E9ED6;
}
input::placeholder {
  color:#999999;
}

.login-btn, .registration-btn {
  width: 57%;
  border-radius: 12px;
  padding: 5px;
  background-color: #41cd8c;
  border: 1px solid #41cd8c;
  color: whitesmoke;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.login-btn:hover, 
.login-btn:focus,
.registration-btn:hover, 
.registration-btn:focus {
  outline: none;
  cursor: pointer;
  background-color:#7eddb1;
  border: 1px solid #7eddb1; 
}
.registration-btn {
  width: 66%;
}

.nutrition-counter-header {
  font-family: Lobster;
  font-size: 3rem;
  max-width: 322px;
  color: #41cd8c;
  text-align: center;
  position: absolute;
  top: 0;
  padding-top: 15px;
  text-decoration: none;
  @media (max-width: 330px) {
    font-size: 2.8rem;
  }
}
.nutrition-counter-header:hover {
  cursor: pointer;
}
.nutrition-counter-header:focus {
  outline: none;
  border-bottom: 2px solid #5E9ED6;
}

.login-descriptor {
  color: #41cd8c;
  font-size: 1.5rem;
}

.login-form {
  border: 1px solid #f4f3f0;
  background-color: #f4f3f0;
  border-radius: 15px;
  padding: 0 20px 20px 20px;
  text-align: center;
  @media (min-width: 410px) {
    padding: 30px 50px 50px 50px;
  }
  @media (min-width: 900px) {
    padding: 75px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  color: #363636;
  font-weight: bolder;
}

.link-text {
  text-decoration: none;
  color: #363636;
}
.link-text:hover, .link-text:focus {
  cursor: pointer;
  text-decoration: underline;
  outline: none;
}

.demo-container {
  margin-top: 25px;
  line-height: 1.3;
}
.demo-title {
  font-size: 1.2rem;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.error-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.error-form {
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  text-align: center;
}
.error-message {
  font-size: 1.75rem;
}
.login-error-msg {
  margin-top: -10px;
}