.nutrition-search-results {
  text-align: center;
}

.nutrition-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
} 

.nutrition-facts {
  padding: 0;
  margin-top: 25px;
  text-align: center;
}
.nutrition-facts > li > span {
  color: #41cd8c;
}

.go-home-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 25px;
  cursor: pointer;
  color: whitesmoke;
  font-weight: bolder;
  letter-spacing: 1px;
  text-decoration: none;
  padding-top: 15px;
}
.logout-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 25px;
  cursor: pointer;
  color: whitesmoke;
  font-weight: bolder;
  letter-spacing: 1px;
  text-decoration: none;
  padding-top: 15px;
}
.logout-btn:hover, .logout-btn:focus, 
.go-home-btn:hover, .go-home-btn:focus {
  outline: none;
  text-decoration: underline;
}

.nutrition-list > li {
  font-weight: bolder;
}
.nutrition-list {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.nutrition-list-item {
  padding: 0;
}
.food-name {
  text-align: center;
}

.save-btn {
  border: none;
  background-color: #fe7749;
  color: whitesmoke;
  font-family: Questrial;
  font-size: 1.1rem;
  letter-spacing: 1px;
  width: 200px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.save-btn:hover, .save-btn:focus {
  outline: none;
  cursor: pointer;
  background-color: #ffb300;
}

.exercise-totals, .nutrition-results-container {
  padding-bottom: 50px;
}

.exercise-results-section {
  text-align: center;
}

.exercise-results {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
}

.exercise-list-item > p > span {
  color: #41cd8c;
}

.loader {
  font-size: 1.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}