.nutrition-search-results {
  text-align: center;
}

.nutrition-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
} 

.nutrition-facts {
  padding: 0;
  margin-top: 25px;
  text-align: center;
}
.nutrition-facts > li > span {
  color: #41cd8c;
}

.go-home-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 25px;
  cursor: pointer;
  color: whitesmoke;
  font-weight: bolder;
  letter-spacing: 1px;
  text-decoration: none;
  padding-top: 15px;
}
.logout-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 25px;
  cursor: pointer;
  color: whitesmoke;
  font-weight: bolder;
  letter-spacing: 1px;
  text-decoration: none;
  padding-top: 15px;
}
.logout-btn:hover, .logout-btn:focus, 
.go-home-btn:hover, .go-home-btn:focus {
  outline: none;
  text-decoration: underline;
}

.nutrition-list > li {
  font-weight: bolder;
}
.nutrition-list {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.nutrition-list-item {
  padding: 0;
}
.food-name {
  text-align: center;
}

.save-btn {
  border: none;
  background-color: #fe7749;
  color: whitesmoke;
  font-family: Questrial;
  font-size: 1.1rem;
  letter-spacing: 1px;
  width: 200px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
.save-btn:hover, .save-btn:focus {
  outline: none;
  cursor: pointer;
  background-color: #ffb300;
}

.exercise-totals, .nutrition-results-container {
  padding-bottom: 50px;
}

.exercise-results-section {
  text-align: center;
}

.exercise-results {
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: left;
}

.exercise-list-item > p > span {
  color: #41cd8c;
}

.loading-container {
  font-size: 1.5rem;
  position: absolute;
  width: 250px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  background: linear-gradient(130deg, #66b9ea, #6d78e7);
  color: black;
  font-size: .75rem;;
  text-indent: -99999em;
  margin: 55px auto;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
  background: linear-gradient(130deg, #66b9ea, #6d78e7);
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: linear-gradient(130deg, #66b9ea, #6d78e7);
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: linear-gradient(130deg, #66b9ea, #6d78e7);
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  }
  100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  }
}