.nutrition-search-results {
  text-align: center;
}

.nutrition-results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
} 

.nutrition-facts {
  padding: 0;
  margin-top: 25px;
  text-align: left;
}

.go-home-btn {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 25px;
  cursor: pointer;
  color: whitesmoke;
  font-weight: bolder;
  letter-spacing: 1px;
}
.logout-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 25px;
  cursor: pointer;
  color: whitesmoke;
  font-weight: bolder;
  letter-spacing: 1px;
}

.nutrition-list {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 25px;
}
.nutrition-list-item {
  padding: 0;
  text-align: left;
}
.food-name {
  text-align: left;
}

.save-btn {
  border: none;
  background: linear-gradient(130deg, #ffa634, #ff435b);
  color: whitesmoke;
  font-family: Questrial;
  font-size: 1.1rem;
  letter-spacing: 1px;
  width: 200px;
  height: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  cursor: pointer;
}